
body {
    margin: 0;
    
    font-family: 'Times New Roman', Times, serif; 

    background-color: rgb(255, 252, 248);
}


.wrapper {
    background-color: white;
    display: grid;
    margin: auto;
    width: 65%;
    height: 100vh;
    overflow: hidden;
    box-shadow: 0 6px 4px 0 rgba(0, 0, 0, 0.1);}

header {
    
    margin: 0;
    padding: 0;
    width:100%;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);*/
}

.navbar {
    background-color: rgb(252, 240, 223);
    display: grid;
    width: 100%;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.navbar ul {
    display: block;
    list-style-type: none;
    margin: auto;
    left: 0;
    right: 0;
    padding: 0;
    width: fit-content;
    
  }
  
.navbar li {
    float: left;
}
  
.navbar a {
    font-size: 40px;
    font-variant: small-caps;
    color: black;
    display: block;
    padding: 30px;
    text-decoration: none;
}

.content {
    float: top;
    margin-bottom: auto;
    height: fit-content;
}


/* Mediaqueries to make side fullscreen when on small screen */

@media (max-width: 800px) {
    .wrapper {
        width: 100%;
        margin: 0;
    }
}